.container {
    margin: auto;
    width: 400px;
    height: 400px;
    background: plum;
    border: 1px solid black;
    box-shadow: 5px 10px 18px rgb(108, 108, 108);
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin-top: 50px;
    gap: 0;
    box-sizing: border-box;
}

.header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header button {
    padding: 10px;
    margin-bottom: 10px;
}